target
ideatarget
.target

*/**/target
*/target

.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea
.bloop

*/**/buildinfo.properties

*.class
*.log
.DS_Store
.idea*
.vscode

!.idea/codeStyles/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

#
.metals
project/metals.sbt

.swp
